* {
  margin: 0;
  padding: 0;
  font-family: 'Titillium Web', sans-serif;
}

.main-image {
  height: 70vh;
  background-size: cover;
  background-image: url("images/PartridgeLandscape-5b5cbf5fc9e77c002cbfff8c.jpg");
  background-attachment: fixed;
  background-color: rgba(0, 0, 0, 0.5);
}

nav {
  width: 100%;
  height: 10px;;
  margin: 0 auto;
  background: #ff683b;
  padding: 10px 0px 38px 0px;
}
nav ul {
  list-style: none;
  text-align: center;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: white;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 10px;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}

nav ul li a:hover {
  color: black;
}

nav.fill ul li a {
  position:relative;
  z-index: 1;
}

nav.fill ul li a:hover {
  color: black;
}

nav.fill ul li a:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: '.';
  color: transparent;
  background: #f38360;
  visibility: none;
  opacity: 0;
  z-index: -1;
}

nav.fill ul li a:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
}


.logo {
  margin-left: 8vw;
    margin-top: 100px;
    height: 150px;
    text-shadow: 3px;
}

.form-request-quote {
  position: relative;
  border-radius: 15px;
  background-color: white;
  height: 250px;
  width: 400px;
  z-index: 0;
  top: 70px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.request-quote-main {
  padding: 15px;
  margin: 25px;
  font-size: 18px;
  background-color: #00b383;
  border-radius: 8px;
  border: #00b383 1px solid;
}

.three-images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(1, 350px);
  z-index: 5;
}

.fire-pit-image {
  border: #b3330c 3px solid;
  grid-column: 1 / 2;
  background-image: url("images/modest-decoration-home-fire-pit-easy-outdoor-fire-pit-vs-fireplace-comparison-guide.jpg");
  color: white;
  font-size: 35px;
  background-size: cover;
  background-position: center;
  filter: grayscale(1);
  text-shadow: 2px 2px black;
}

.fire-pit-image:hover {
  filter: grayscale(0);
  transition-duration: 500ms;
}

.preview-text {
  text-align: center;
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
}

.flowers-image {
  border: #ff683b 3px solid;
  grid-column: 3 / 4;
  background-image: url("images/residential-landscape-design-5-residential-landscape-design.jpg");
  color: white;
  font-size: 35px;
  background-size: cover;
  background-position: center;
  filter: grayscale(1);
  text-shadow: 2px 2px black;
}

.flowers-image:hover {
  filter: grayscale(0);
  transition-duration: 500ms;
}

.landscape-plan {
  border: #00b383 3px solid;
  grid-column: 2/3;
  background-image: url("images/our-process-harmony-design-group_landscape.jpg");
  color: white;
  font-size: 35px;
  background-size: cover;
  background-position: center;
  filter: grayscale(1);
  text-shadow: 2px 2px black;
}

.landscape-plan:hover {
  filter: grayscale(0);
  transition-duration: 500ms;
}

#info {
  background-color: white;
  height: 150px;
  padding: 40px;
  font-size: 18px;
  color: black;
  text-align: center;
}

#request-quote {
  padding: 15px;
  margin: 25px;
  font-size: 18px;
  background-color: #ff683b;
  border-radius: 8px;
  border: #ff683b 1px solid;
}

#footer {
  display: grid;

}

#footer-image {
  width: 100%;
  height: 350px;
}

#quote {
  background-color: rgba(0, 0, 0, 0.623);
  font-family: Arial, Helvetica, sans-serif;
  grid-row: 2 / 4;
  grid-column: 2 / 6;
  color: white;
  border-radius: 20px;
  padding: 40px;
  font-size: 20px;
  margin-bottom: 100px;
}
