.contact-image {
    color: white;
}

#contact {
    position: relative;
    width: 100%;
    height: auto;
}

.contact {
    color: #4caf50;
    font-family: 'Brush Script MT';
    font-size: 90px;
    text-align: center; 
    text-shadow: 0 5px 5px black;;
    position: absolute;
    z-index: 1;
    margin: auto;
    top: 130px;
    left: 100px;
}

nav {
    background-color: #064663;
    width: 100%;
}

ul {
    color: white;
    list-style-type: none;
    height: 40px;
    margin: 0px;
    display: flex;

}

li {
    color: white;
    padding: 10px;
    text-decoration: none;
    margin: 2px;
}

li a {
    color: white;
    top: 20px;
    padding: 0px;
    text-decoration: none;
}

a:hover {
    background-color: #4caf50;
    padding: 10px;
}

.container-contact-form {
    background-color: white;
    width: 225px;
    height: 200px;
    padding: 20px;
    margin: 50px;
    text-align: center;
    border: solid #064663;

}

.footer {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12px;
    color: white;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 10px;
    margin: 0px;
    background-color: #064663;
}