.main-image {
    position: relative;
    width: 100%;
}

#socks {
    position: relative;
    width: 100%;
    height: auto;
}

.shopSocks {
    color: #e91e63;
    font-family: 'Brush Script MT';
    font-size: 90px;
    text-align: center; 
    text-shadow: 0 5px 5px black;;
    position: absolute;
    z-index: 1;
    margin: auto;
    top: 130px;
    left: 100px;
}

nav {
    background-color: #064663;
    width: 100%;
}

ul {
    color: white;
    list-style-type: none;
    height: 40px;
    margin: 0px;
    display: flex;

}

li {
    color: white;
    padding: 10px;
    text-decoration: none;
    margin: 2px;
}

li a {
    color: white;
    top: 20px;
    padding: 0px;
    text-decoration: none;
}

a:hover {
    background-color: #e91e63;
    padding: 10px;
}

.buySocks {
    display: grid;
    padding: 20px;
    grid-gap: 30px;
    justify-content: space-evenly;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
}


#socksGrid {
    width: 200px;
    height: 200px;
    position: relative;
    justify-self: right;
    box-shadow: 8px 8px 5px grey;
}

@media (max-width: 600px){
    .buySocks {
        grid-template-columns: 1fr;
        flex-direction: column;
        height: 700px;
        justify-self: left;
    }
    .shopSocks {
        color: #e91e63;
        font-family: 'Brush Script MT';
        font-size: 50px;
        text-align: center; 
        text-shadow: 0 5px 5px black;;
        position: absolute;
        z-index: 1;
        margin: auto;
        top: 80px;
        left: 80px;
    }
}