


#stripes {
    width: 150px;
    height: 200px;
    grid-column: 1/2;
    grid-row: 2/2;
    position: relative;
    justify-self: right;
}

#stars {
    width: 150px;
    height: 200px;
    grid-column: 2/3;
    grid-row: 2/2;
    position: relative;
    align-self: center;
    justify-self: center;
}

#fallingLeaves {
    width: 150px;
    height: 200px;
    grid-column: 3/4;
    grid-row: 2/3;
    position: relative;
    justify-self: left;
}