.main-image {
    color: white;
}

#socks {
    position: relative;
    width: 100%;
    height: auto;
}

.smellyFeet {
    color: #ffc107;
    font-family: 'Brush Script MT';
    font-size: 90px;
    text-align: center; 
    text-shadow: 0 5px 5px black;;
    position: absolute;
    z-index: 1;
    margin: auto;
    top: 130px;
    left: 100px;
}

.quote {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    color: white;
    text-align: center;
    width: 100%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #064663;
    margin: 0;
}

.best-sellers {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    color: black;
    text-align: left;
    margin: 1px;
    padding: 20px;
}

nav {
    background-color: #064663;
    width: 100%;
}

ul {
    color: white;
    list-style-type: none;
    height: 40px;
    margin: 0px;
    display: flex;

}

li {
    color: white;
    padding: 10px;
    text-decoration: none;
    margin: 2px;
}

li a {
    color: white;
    top: 20px;
    padding: 0px;
    text-decoration: none;
}

a:hover {
    background-color: #ffc107;
    padding: 10px;
}


.container {
    display: flex;
    padding: 30px;
    grid-gap: 10px;
    justify-content: space-evenly;
}


#argyle {
    width: 200px;
    height: 200px;
    grid-column: 1/2;
    grid-row: 1/2;
    position: relative;
    justify-self: right;
    box-shadow: 8px 8px 5px grey;
}

#paisley {
    width: 200px;
    height: 200px;
    grid-column: 2/3;
    grid-row: 1/2;
    position: relative;
    justify-self: center;
    box-shadow: 8px 8px 5px grey;
}

#running-heart {
    width: 200px;
    height: 200px;
    grid-column: 3/3;
    grid-row: 1/2;
    position: relative;
    justify-self: left;
    box-shadow: 8px 8px 5px grey;
}

.footer {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12px;
    color: white;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 10px;
    margin: 0px;
    background-color: #064663;
}

@media (max-width: 600px){
    .container {
        grid-template-columns: 1fr;
        flex-direction: column;
        height: 700px;
    }
    .smellyFeet {
        color: #ffc107;
        font-family: 'Brush Script MT';
        font-size: 50px;
        text-align: center; 
        text-shadow: 0 5px 5px black;;
        position: absolute;
        z-index: 1;
        margin: auto;
        top: 80px;
        left: 80px;
    }
}
