h1 {
    font-size: 35px;
    grid-column: 3 / 5;
    text-align: center;
    color: #2196f3;
    text-shadow: 1px 1px black;
}
#container {
    background-image: url("https://images.unsplash.com/photo-1488085061387-422e29b40080?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1778&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 150px 150px 150px 150px 150px;
}

#travelForm {
    background-color: rgba(0, 0, 0, 0.623);
    font-family: Arial, Helvetica, sans-serif;
    grid-row: 2 / 4;
    grid-column: 2 / 6;
    color: white;
    border-radius: 20px;
    padding: 40px;
    font-size: 20px;
    margin-bottom: 100px;
}

button {
    font-size: 16px;
    background-color: #2196f3;
    border-radius: 3px;
}

