* {
    margin: 0;
    padding: 0;
}

.container {
    display: grid; 
    grid-template-rows: repeat(16, 175px);
    grid-template-columns: repeat(6, 1fr);
    background-image: url("images/contours-opaque.png");
    width: 100vw;
    height: 1500px;
    z-index: 2;
}

.main-title {
    background-image: url("images/huntington.jpg");
    grid-row: 1 / 3;
    grid-column: 1 / 7;
    margin-bottom: 120px;
    z-index: -1;
}

.header {
    margin-left: 350px;
    position: absolute;
}

#logo {
    background-size: cover;
    background-image: url("http://www.csszengarden.com/214/enso.svg");
    transform: scale(9);
    margin-top: -10px;
    margin-left: -120px;
    height: 80px;
    width: 80px;
    opacity: 0.4;
}

h1 {
    color: rgba(255, 255, 255, 0.849);
    font-family: 'Lato', sans-serif;
    font-style: normal;
    text-align: center;
    font-size: 40px;
}

h2 {
    color: rgb(207, 207, 207);
    font-family: 'Libre Baskerville', serif;
    text-align: center;
    font-weight: 400;
    font-style: italic;
    font-size: 20px;
}

h3 {
    color: #325050;
    font-family: 'Julius Sans One', sans-serif;
    font-weight: normal;
    font-size: 1.5em;
    padding-top: 40px;
    text-transform: uppercase;
    text-indent: 80px;

}

h5 {
    font-size: 1em;
    margin-top: 70px;
    margin-left: 70px;
    margin-right: 70px;
}

h6 {
    font-size: 1em;
}

.nav-bar {
    font-family: 'Julius Sans One', sans-serif;
    background-color: rgba(255, 255, 255, 0.301);
    padding: 25px;
    text-transform: uppercase;
    font-style: normal;
    text-align: center;
    margin-top: 180px;
    font-size: 1.2em;
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    color: rgba(255, 255, 255, 0.753);
}

.authors {
    background-color: rgba(131, 153, 131, 0.274);
    grid-row: 12 / 13;
    grid-column: 1 / -1;
    margin-top: 0px;
}
/* .links {
    background-color: lightpink
} */

.main-content {
    margin-top: 100px;
    grid-row: 2 / 6;
    grid-column: 1 / -1;
    background-color: white;
    background-size: cover;
    z-index: 0;
}

.view {
    color: rgba(255, 255, 255, 0.521);
}

p {
    font-family: 'Libre Baskerville', serif;
    letter-spacing: 0.1em;
    margin-right: 80px;
    margin-left: 80px;
    color: #325050;
    line-height: 2;
    padding-bottom: 12px;
}

.participation {
    margin-top: 40px;
    grid-row: 7 / 9;
    grid-column: 1 / -1;
    height: 500px;
    background-image: url("images/bamboo.png");
    background-size: cover;
    background-color: rgba(138,188,159,0.5);
    margin-bottom: 40px;
}

.bottom-quote {
    background-image: url("images/koi.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color: rgba(255, 255, 255, 0.514);
    grid-row: 10 / 12;
    grid-column: 1 / -1;
    font-size: 2em;
    font-style: italic;
    margin-bottom: 120px;
}

.footer {
    margin-top: 80px;
    grid-row: 11 / 12;
    grid-column: 1 / -1;
}


/* @media not all, not all, (-webkit-min-device-pixel-ratio: 1.5), not all, (min-resolution: 1.5dppx)
.design-archives nav { */

    

@media (max-width: 900px){
    /* use this media query to help these two cells drop to the bottom when screens are smaller */
    .authors {
         
    }
    .links {

    }
    /* container could use some help so that it's children are full screen width */
    .container {
        
    }
}

.icons {
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: auto;
    padding: 10px;
}

.js {
    width: 48px;
    height: 48px;
    background-image: url("images/CSS3_logo_and_wordmark.svg.png");
    /* background-color: rgba(0, 0, 0, 0.329); */
}

/* 
.icons > div {
    width: 48px;
    height: 48px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
} */