* {
    box-sizing: border-box; 
    font-size: 0px;
}

h2 {
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 50px;
}

.container {
  height: 1000px;
  width: 1000px;
  margin-right: 50px;
  margin-left: 50px;
}

.pink1 {
  height: 100px;
  width: 970px;
  background-color: #f5c6d6;
  display: block;
  border-left: white solid 10px;
}

.dark-pink {
  height: 100px;
  width: 24%;
  background-color: #ee2e84;
  border-top: white solid 10px;
  border-left: white solid 10px;
  display: inline-block;
}

.blue {
  height: 100px;
  width: 485px;
  background-color: #85cfd8;
  border-top: white solid 10px;
  border-left: white solid 10px;
  display: inline-block;
}

.green {
  height: 100px;
  width: 65%;
  background-color: #8dc63f;
  border-top: white solid 10px;
  border-left: white solid 10px;
  display: inline-block;
}

.orange {
  height: 100px;
  width: 22%;
  background-color: #e76e34;
  border-top: white solid 10px;d
  border-left: white solid 10px;
  display: inline-block;
}

@media only screen and(min-width: 768px) {
    .pink {
        width: 100%;
    }
}
