.list {
    display: grid;
    align-items: center;

}

.addForm {
    align-items: center;
}

img {
    width: 500px;
    height: 300px;
    align-items: center;
    margin: 100px;
}

.title {
    align-items: center;
}