* {
    font-size: 0px;
    background-color: lightgrey
}

#franceFlag {
    width: 500px;
    display: inline-block;
    padding: 20px 15px;
    margin-left: 10px;
    margin: left;
    position: relative;
    right: 0;
    left: 0;
}

#blueFrance {
    background-color:blue;
    width: 30%;
    display: inline-block;
    padding: 250px 0px 15px;
    margin-left: 10px;
    position: relative;
}

#whiteFrance {
    background-color: white;
    width: 30%;
    display: inline-block;
    padding: 250px 0px 15px;
    position: relative;
}

#redFrance {
    background-color: red;
    width: 30%;
    display: inline-block;
    padding: 250px 0px 15px;
    position: relative;
}

#germanyFlag {
    width: 500px;
    padding: 10px 15px;
    margin: 20px;
}

#blackBox {
    background-color: black;
    width: 30%;
    padding: 5px 150px 100px;
}

#redBox {
    background-color: red;
    width: 30%;
    padding: 5px 150px 100px;
}

#yellowBox {
    background-color: #ebcc34;
    width: 30%;
    padding: 5px 150px 100px;
}

#madagascarFlag {
    width: 500px;
    display: inline-block;
    padding: 20px 15px;
    margin-left: 10px;
    margin: left;
    position: relative;
    right: 0;
    left: 0;
}

#madagascarWhite {
    background-color: white;
    width: 30%;
    display: inline-block;
    padding: 260px 0px 15px;
    margin-left: 10px;
}

#madagascarRed {
    background-color: red;
    width: 300px;
    position: absolute;
    top: 20px;
    margin-left: 160px;
    padding: 135px 0px 5px;
}

#madagascarGreen {
    background-color: #1d7d20;
    width: 300px;
    display: inline-block;
    padding: 135px 0px 5px;
    top: 50px;
}

#swissFlag {
    width: 500px;
    display: inline-block;
    padding: 20px 15px;
    margin-left: 10px;
    margin: left;
    position: relative;
    right: 0;
    left: 0;
}

#swissRed {
    background-color: red;
    width: 450px;
    padding: 75px 0px 5px;
    margin-left: 10px;
    position: relative;
}

#swissWhiteVert {
    background-color: white;
    height: 100px; 
    width: 30px;
    position: relative;
    bottom: 50px;
    left: 225px;
}

#swissWhiteHorz {
    background-color: white; 
    height: 30px; 
    width: 100px;
    position: relative;
    top: 15px;
    left: 190px; 
}

#swedenFlag {
    background-color: #3b59c4;
    width: 425px;
    height: 225px;
    margin-left: 20px;
}

#swedenYellowVert {
    background-color: #e3c817;
    height: 225px; 
    width: 30px;
    position: relative;
    bottom: 30px;
    left: 70px;
}

#swedenYellowHorz {
    background-color: #e3c817;
    height: 30px; 
    width: 425px;
    position: relative;
    top: 75px;
}

#gambiaFlag {
    width: 500px;
    padding: 10px 15px;
    margin: 20px;
}

#gambiaRed {
    background-color: red;
    width: 30%;
    padding: 5px 150px 80px;
}

#gambiaBlue{
    background-color: darkblue;
    width: 30%;
    padding: 5px 150px 80px;
    border-top: 10px solid white;
    border-bottom: 10px solid white;
}

#gambiaGreen {
    background-color: green;
    width: 30%;
    padding: 5px 150px 80px;
}


