.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  display: grid;
  grid-template-columns: 100px 300px auto 300px 100px;
  grid-template-rows: repeat(3, 120px);
  margin: 0px;
}

.place {
  grid-column: 3;
  background-color: #3BB3B3;
  color: whitesmoke;
  padding: 25px;
  text-shadow: #282c34;
  text-align: center;
  font-size: 45px;
  margin: 0px;
}

.price {
  grid-column: 3;
  text-align: center;
  background-color: #6DFFFE;
  font-size: 25px;
  padding: 30px;
  margin: 0px;
}

.season {
  grid-column: 3;
  text-align: center;
  padding: 30px;
  background-color: #FFA36E;
  margin: 0px;
}
